body {
    overflow-x: hidden;
}

/***************************************
*             MENU PAGE                *
***************************************/
.menu_background {
    /* background-color: rgba(255, 255, 255, 0.2); */
    opacity: 6;
    z-index: 10;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(255, 249, 163);
}
.menu_font {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
}

/***************************************
*             HOME PAGE                *
***************************************/
.first-page {
    background-color: #101f41;
    background-image: url("stars1.png");
    background-repeat: no-repeat;
    color: white;
    height: 120vh;
}

.first-page_container {
    /* padding: 20px; */
    text-align: center;
    padding: 25vh;
}

.first-page-title {
    z-index: 5;
    width: 80%;
    margin-top: 20vh;

}

@media only screen and (max-width: 930px) {

}

.home_photo {
    z-index: 1;
    width: 30vw;
    height: 30vw;
    margin: 20px;
    object-fit:cover;
    border: 2px solid rgba(0, 0, 0, 0.424);
    border-radius: 10px;
    box-shadow: -20px 20px 5px rgba(0, 0, 0, 0.424);
}

.carousel-item {
    transition: transform 5s ease-in-out;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 5s;
}

/***************************************
*            INVITATION PAGE           *
***************************************/
.second-page {
    /* background: url("bcg3.png"); */
    background-color: #101f41;
    height: 90vh;
}

.second-page_container {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin: 0 5vw 0;
    border: 2px solid rgba(0, 0, 0, 0.424);
    box-shadow: -20px 20px 5px rgba(0, 0, 0, 0.424);
}

@media only screen and (max-width: 930px) {
    .second-page_container {
        width: 70%;
        margin: 0 14vw 0;
    }
}

.invite-image {
    margin-top: 5vh;
    width: 40%;

}
.houston {
    font-family: 'Send Flowers', cursive;
    font-size: 30px;
}

.boy {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
}

.join_us {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.robertaboud {
    font-family: 'Cookie', cursive;
    font-size: 35px;
}

.at {
    font-family: 'Send Flowers', cursive;
    font-size: 16px;
    text-transform: lowercase;
}

.date {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.rsvp {
    margin-bottom: 5vh;
}
.second-page_img {
    width: 100%;
    max-height: 70vh;
}

.baby-shower_details {
    max-height: 70vh;
}

/***************************************
*            REGISTRY PAGE             *
***************************************/
.logos {
    /* height: 10vh; */
    width: 10vw;
}

.logo-container {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

/*************************************/
.third-page {
    background-color: #314470;
    height: 90vh;
}

.third-page_container {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    height: 75vh;
    width: 60%;
}

.registry_image {
    width: 100%;
    max-height: 40vh;
}